header{
    background-color: lightslategray;
    color: white;
    text-align: center;
}
nav{
    background-color: rgb(98, 111, 125);
    color: white;
    text-align: center;
}
main{
    
}